section.header
  .header__container
    .header__nav
      .header__socials.socials
        ul.socials__list
          li.socials__item
            a(href="").socials__link
              svg.socials__icon
                use(xlink:href="assets/images/sprite/sprite.svg#vk")
          li.socials__item
            a(href="").socials__link
              svg.socials__icon
                use(xlink:href="assets/images/sprite/sprite.svg#github")
          li.socials__item
            a(href="").socials__link
              svg.socials__icon
                use(xlink:href="assets/images/sprite/sprite.svg#in")
      a.header__menu
        .header__hamburger-menu
    .header__who
      .profile
        .profile__image
        .profile__name Владимир Астахов
        .profile__desc Личный сайт веб разработчика
    .header__arrow
      .arrow
        a(href="").arrow__link
          svg.arrow__icon
            use(xlink:href="assets/images/sprite/sprite.svg#portf_arrow_down")