.circles {
  fill: none;
  stroke-width: 15;
}
.circle__first {
  stroke: #dfdcd5;
}
.circle__second {
  transition: 1s;
  stroke: #77a266;
  stroke-dasharray: .0010 282.6;
}

@for $i from 0 through 20 {
  $j: $i * 5;
  $dasharray: 282.6;
  $dashoffset: $dasharray - $j*$dasharray/100;
  $opacity: $j/100;
  .circles .circle-#{$j} {
      stroke-dasharray: $dasharray;
      stroke-dashoffset: $dasharray;
      opacity: #{$opacity};
  }
  .circles.animate .circle-#{$j} {
    stroke-dashoffset: $dashoffset;
  }
}

.circle__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: rem(14px);
  font-family: 'roboto';
  font-weight: 700;
  color: #77a266;
  font-weight: bold;
}
