.hamburger-menu {
  width: 100%;
	transition: 0.5s;
	position: absolute;
	z-index: 10;
	background-color: rgba(108, 156, 90, 0.87);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 0;
	will-change: height;

	&.active {
		height: 100vh;
	}
}

.container--hamburger-menu {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.hamburger-menu__nav-list {
	text-align: center;
}

.hamburger-menu__nav-link {
	margin-bottom: rem(60px);
	display: block;
  font-family: 'sansus';
  text-align: center;
  text-transform: uppercase;
  color: #fff;
	font-size: rem(35px);
	&:hover {
		margin-bottom: rem(37px);
		@include line(20px);
	}
}
