.header {
  height: 100vh;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__container {
	position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../images/intro/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header__canvas {
	position: absolute;
  width: 100%;
  height: 100%;
}

.header__background-text {
	width: 100%;
	height: 30%;
	position: absolute;
	top: 30%;
	opacity: 0.1;
	fill: #fff;
}

@import 'socials-list.scss';

.header__menu {
	transition: 0.5s;
	z-index: 11;
  margin-top: rem(30px);
  margin-right: rem(30px);
  display: inline-block;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.header__hamburger-menu {
	transition: 0.5s;
	border: rem(2px) solid #fff;
	border-radius: rem(3px);
	width: rem(42px);
	position: relative;
	background-color: currentColor;
}
.header__hamburger-menu:before {
	content: '';
	transition: 0.5s;
	position: absolute;
	border: rem(2px) solid #fff;
	border-radius: rem(3px);
	width: rem(42px);
	top: rem(-15px);
	margin: rem(-2px);
	background-color: currentColor;
}
.header__hamburger-menu:after {
	content: '';
	transition: 0.5s;
	position: absolute;
	border: rem(2px) solid #fff;
	border-radius: rem(3px);
	width: rem(42px);
	top: rem(15px);
	margin: rem(-2px);
	background-color: currentColor;
}
.header__menu.active > .header__hamburger-menu {
	transform: rotate(-45deg);
}
.header__menu.active > .header__hamburger-menu:before {
	top: 0;
}
.header__menu.active > .header__hamburger-menu:after {
	top: 0;
	transform: rotate(90deg);
}


.header__who {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

@import 'profile.scss';

.header__arrow {
	z-index: 5;
}

.arrow {
	display: flex;
	justify-content: center;
}

.arrow__link,  .arrow__link-b {
	margin-bottom: rem(100px);
	display: inline-block;
	&:hover .arrow__icon {
    opacity: 1;
	}
}

.arrow__icon {
	fill: #fff;
  width: rem(30px);
	height: rem(20px);
	opacity: 0.7;
	transition: 0.5s;
}

@import './ham-menu.scss';