.profile {
	width: rem(400px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile__image {
	min-width: rem(150px);
	min-height: rem(150px);
	width: rem(150px);
	height: rem(150px);
	border-radius: 50%;
	background-image: url(../images/about/fashmark-men-trends-nature.jpg)
}

.profile__name {
	margin-top: rem(30px);
	font-family: 'roboto';
	font-weight: 700;
	font-size: 35px;
	color: #fff;
}

.profile__desc {
	margin-top: rem(10px);
	font-family: 'roboto';
	font-weight: 500;
	color: #fff;
}