.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.slider__top {
  transition: 0.5s;
  flex-grow: 2;
  width: 100%;
  // background-image: url(../images/works/slides/slide1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider__bottom {
  flex-grow: 1;
  width: 100%;
  display: flex;
}

.slider__bottom-left, .slider__bottom-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b0b7aa;
    opacity: 0.7;
  }
}

.slider__bottom-left {
  transition: 0.5s;
  // background-image: url(../images/works/slides/slide0.png);
}

.slider__bottom-right {
  transition: 0.5s;
  // background-image: url(../images/works/slides/slide2.jpg);
}

.slider__btn {
  z-index: 5;
  top: 50%;
  left: 50%;
}

.slider__btn:hover .slider__svg {
  opacity: 1;
}

.slider__svg {
  width: rem(50px);
  height: rem(30px);
  fill: #fff;
  opacity: 0.7;
  transition: 0.5s;
}