extends ../template

block variables
  - var title = 'Обо мне'

block content
  .wrapper
    include ../common/header
    section.about
      .about__column.about__column--left
        .about__title Обо мне
        .about__profile
          .about__image
          .about__subtitle Кто я
      .about__column.about__column--right
        .about__my-skills
          .about__subtitle Чем я могу быть вам полезен
          .about__text
          .about__skills-all
            .about__small-title
              ul.about__list
                li.about__item
                li.about__item
                li.about__item
            .about__small-title
              ul.about__list
                li.about__item
                li.about__item
                li.about__item
            .about__small-title
              ul.about__list
                li.about__item
                li.about__item
                li.about__item
    section.map