extends ../template

block variables
  - var title = 'Блог'

block content
  h1 Блог
  ul
    li
      h2 Заголовок статьи
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, cum.
    li
      h2 Lorem, ipsum.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, ullam?
    li
      h2 Lorem, ipsum dolor.
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, aperiam?