.panel {
  padding: 10px;
  font-size: 16px;
  font-family: 'roboto';
  font-weight: 500;
  color: #566358;
  flex-grow: 1;
  background-image: url(../images/admin/background.jpg);
  background-size: cover;

  &__title {
    font-size: 21px;
    font-weight: 700;
    padding: 50px 30px;
  }

  &__subtitle {
    font-weight: 700;
    padding: 10px 30px;
  }

  &__input {
    border-radius: 5px;
    border: 0;
    padding: 8px;
    margin: 5px;
  }

  &__button {
    max-width: 135px;
    margin-top: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #6c9c5a;
    color: #fff;
    font-size: 16px;
    font-family: 'roboto';
    font-weight: 700;
    padding: 12px 18px;
    margin-left: 30px;
    transition: 0.5s;
    cursor: pointer;

    &--close {
      margin-left: 0px;
    }

    &:hover {
      background-color: #4a753a;
      text-decoration: underline;
    }
  }
}

.status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-140px, -75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  height: 150px;
  width: 280px;
}