@import '../components/header.scss';
@import '../components/circles.scss';
@import '../components/footer.scss';

.about {
  display: flex;
  flex-direction: row;
  position: relative;

  @include tablets {
    flex-direction: column;
  }
}

.about__column {
  position: relative;
  text-align: center;
  width: 50%;
  padding-top: rem(48px);

  &--left {
    display: flex;
    justify-content: center;
    background-color: #ebefe2;

    @include smallMonitor {
      flex-direction: column;
      justify-content: initial;
      align-items: center;
    }
  }

  &--right {
    background-color: #f4f5f0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include tablets {
    width: 100%;
  }
}

.about__title {
  z-index: 1;
  width: 46%;
  font-family: 'sansus';
  text-align: center;
  text-transform: uppercase;
  color: #373e42;
  font-size: rem(63px);
  line-height: rem(63px);
  @include line(16px);

  @include smallMonitor {
    width: 75%;
  }

  @include phones {
    width: 100%;
  }
}


.about__title-svg {
  top: -3%;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  @include smallMonitor {
    top: -70%;
  }
}

.about__title-image {
  width: rem(300px);
  opacity: 0.2;
  fill: #93c42e;
}

.about__profile {
  width: 54%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include smallMonitor {
    width: 75%;
  }

  @include phones {
    width: 100%;
  }
}

.about__image {
  z-index: 1;
  margin-top: rem(10px);
  margin-bottom: rem(40px);
  width: 90%;
  min-height: rem(400px);
  max-width: rem(480px);
  background-image: url(../images/about/fashmark-men-trends-nature.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include phones {
    width: 100%;
  }
}

.about__subtitle, .contacts__subtitle {
  width: 70%;
  font-family: 'sansus';
  text-align: center;
  text-transform: uppercase;
  color: #373e42;
  font-size: rem(35px);
  line-height: rem(35px);
  @include line(16px);
}

.about__text {
  margin-bottom: rem(50px);
  width: 90%;
  text-align: left;
  font-family: 'roboto';
  font-weight: 500;
  color: #373e42;
  font-size: rem(16px);
  line-height: rem(24px);

  & > p {
    margin-top: rem(30px);
  }

  @include tablets {
    text-align: center;
    width: 75%;
  }

  @include phones {
    text-align: left;
    width: 95%;
  }
}

.about__my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__skills-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  @include tablets {
    align-items: center;
  }
}

.about__small-title {
  font-family: 'roboto';
  font-weight: 700;
  font-size: rem(28px);
  color: #373e42;
  margin-bottom: rem(20px);
}

.about__list {
  display: flex;
  flex-flow: row wrap;

  @include tablets {
    justify-content: space-around;
  }
}

.about__item {
  position: relative;
  display: inline-block;
  width: rem(110px);
  height: rem(110px);
  margin-bottom: rem(50px);
}

.map {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  @include phones {
    height: initial;
  }
}

.map__container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @include phones {
    height: 100vh;
  }
}

.contacts {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(430px);
  padding-bottom: rem(40px);
  font-family: 'roboto';
  font-weight: 500;
  font-style: normal;
  padding: rem(30px);
  opacity: 0.85;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    border-radius: rem(5px);
    background-color: rgb( 244, 245, 240 );
    opacity: 0.85;
    // box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    // filter: blur(10px);
  }

  @include tablets {
    width: rem(350px);
  }

  @include phones {
    width: 100%;
    display: none;
  }
}

.contacts--phone {
  display: none;
  @include phones {
    display: flex;
  }
}

.contacts__list {
  z-index: 1;
  width: 100%;
}

.contacts__item {
  margin-top: rem(24px);
  display: flex;
  align-items: center;
}

.contacts__image {
  width: rem(28px);
  height: rem(28px);
  fill: #6c9c5a;
}

.contacts__text {
  padding-left: rem(10px);
  font-family: 'roboto';
  font-weight: 700;
}

.about__top-img {
  width: 100%;
  height: rem(170px);
  position: absolute;
  top: rem(-170px);
  bottom: 0;
  right: 0;
  left: 0;
  &--left {
    fill: #ebefe2;
  }
  &--right {
    fill: #f4f5f0
  }
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}