.blog__top-frame {
  z-index: 5;
  width: 100%;
  background-color: #f8f9f5;
}

.blog__content {
  background-color: #f8f9f5;
}

.articles {
  display: flex;
  justify-content: center;
}

.articles__container {
  display: flex;
  width: 80%;
  max-width: rem(1300px);
}

.articles__left-col {
  min-width: rem(270px);
  max-width: rem(270px);
  position: relative;
}
.articles__right-col {
  flex-grow: 1;
}

.articles__title-list {
  position: absolute;
  padding: rem(10px);
}

.articles__title-item {
  margin-bottom: rem(10px);
  text-align: end;
  font-family: 'roboto';
  font-weight: 900;
  color: #455a64;
  padding: rem(10px) rem(20px);

  &.active {
    color: #4e8839;
    border-right: rem(3px) solid;
  }
}

.articles__list {
  margin-left: rem(110px);
  padding: rem(10px);
}

.articles__title {
  margin-bottom: rem(25px);
  font-size: 35px;
  font-family: 'sansus';
  color: #455a64;
}

.articles__item {
  border-bottom: 5px solid #ecebe4;
  padding-top: rem(70px);
  padding-bottom: rem(70px);

  &:nth-child(1) {
    padding-top: rem(0px);
  }

  &:last-of-type {
    border-bottom: 0px;
  }
}

.articles__date {
  margin-bottom: rem(25px);
  font-family: 'roboto';
  color: #4e8839; 
}

.articles__text {
  font-family: 'roboto';
  color: #455a64;
}