.sidebar {
  position: absolute;
  top: 100vh;
  left: 5%;
  z-index: 1;
  padding: rem(10px);
  padding-top: rem(58px);
  
  &.fix {
    position: fixed;
    top: 0;
  }

  @include tablets {
    display: none;
  }
}

.sidebar__item {
  border-right: rem(3px) solid transparent;
  margin-bottom: rem(10px);
  text-align: end;
  font-family: 'roboto';
  font-weight: 900;
  color: #455a64;
  padding: rem(10px) rem(20px);

  &.active {
    color: #4e8839;
    border-right: rem(3px) solid #4e8839;
  }
}

.blog__top-frame {
  z-index: 5;
  width: 100%;
  background-color: #f8f9f5;
}

.blog__content {
  position: relative;
  background-color: #f8f9f5;
}

.articles {
  display: flex;
  justify-content: center;
}

.articles__container {
  z-index: 1;
  display: flex;
  width: 90%;
}

.articles__left-col {
  min-width: rem(270px);
  max-width: rem(270px);
  position: relative;

  @include tablets {
    display: none;
  }
}
.articles__right-col {
  flex-grow: 1;
}

.articles__list {
  margin-left: rem(110px);
  padding: rem(10px);

  @include tablets {
    margin-left: rem(0px);
  }
}

.articles__title {
  margin-bottom: rem(25px);
  font-size: 35px;
  font-family: 'sansus';
  color: #455a64;
}

.articles__item {
  border-bottom: 5px solid #ecebe4;
  padding-top: rem(70px);
  padding-bottom: rem(70px);

  @include tablets {
    padding-top: rem(50px);
    padding-bottom: rem(50px);
  }

  @include phones {
    padding-top: rem(30px);
    padding-bottom: rem(30px);
  }

  &:nth-child(1) {
    padding-top: rem(48px);
  }

  &:last-of-type {
    border-bottom: 0px;
  }
}

.articles__date {
  margin-bottom: rem(25px);
  font-family: 'roboto';
  color: #4e8839; 
}

.articles__text {
  font-family: 'roboto';
  color: #455a64;
  line-height: rem(24px);
}

.articles__item.active > .articles__text {
  color: #4e8839;
}