.intro-wrap {
  height: 100vh;
  width: 100%;
  background-image: url(../images/intro/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}