.intro__wrap {
  height: 100vh;
  width: 100%;
  background-image: url(../images/intro/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  @include phones {
    justify-content: center;
  }
}

.intro__authorize-btn {
  z-index: 1;
  transition: 0.5s;
  margin-right: rem(20px);
  margin-top: rem(20px);
  border: rem(2px) solid #fff;
  border-radius: rem(40px);
  padding: rem(15px) rem(30px);
  font-family: 'roboto';
  font-weight: 700;
  color: #fff;
  visibility: initial;
  opacity: 1;

  @include phones {
    margin-right: rem(0px);
  }

  &:hover {
    border-color: #729e19;
    background-color: #4e8839;
  }

  &.inverted {
    visibility: hidden;
    opacity: 0;
  }
}

.intro__flip {
  width: 100%;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  backface-visibility: hidden;
  transition: 1s;
}

.intro__flip--front {
  position: absolute;
  transform: rotateY(0deg);
  &.inverted {
    transform: rotateY(180deg);
  }
}
.intro__flip--back {
  position: absolute;
  transform: rotateY(180deg);
  &.inverted {
    transform: rotateY(0deg);
  }
}

@import '../components/auth-intro.scss';

.intro__footer {
  height: 7%;
  width: 100%;
  text-align: center;
  align-self: flex-end;
  color: #fff;
  font-family: 'roboto';
  font-weight: 500;
  font-style: normal;
}