@import '../components/slider.scss';

.img {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

.works__title {
  padding-top: rem(48px);
  z-index: 1;
  width: 100%;
  font-family: 'sansus';
  text-align: center;
  text-transform: uppercase;
  color: #373e42;
  font-size: rem(63px);
  line-height: rem(63px);
  background-color: #f8f9f5;
  padding-bottom: rem(30px);
  @include line(20px);

  @include phones {
    font-size: rem(35px);
    line-height: rem(35px);
  }
}

.works__title-svg {
  top: -15%;  
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  @include phones {
    top: -30%;
  }
}

.works__title-image {
  width: rem(400px);
  opacity: 0.2;
  fill: #93c42e;

  @include phones {
    width: rem(300px);
  }
}

.works__content {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.works__column {
  width: 50%;

  &--left {
    background-color: #ebefe2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablets {
      width: 0%;
    }
  }

  &--right {
    background-color: #e1e4d7;

    @include tablets {
      width: 100%;
    }
  }
}

.about-loft {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: rem(35px);
  padding-bottom: rem(35px);

  @include tablets {
    display: none;
  }
}

.about-loft--tablets {
  display: none;

  @include tablets {
    display: flex;
  }
}

.about-loft__title {
  max-width: rem(320px);
  font-family: 'sansus';
  text-align: center;
  text-transform: uppercase;
  color: #373e42;
  font-size: rem(35px);
  line-height: rem(35px);
  @include line(30px);

  @include tablets {
    max-width: initial;
    //уменьшаем расстояние от заголовка до черты
    &:after {
      margin-top: rem(20px);
    }
  }
}

.about-loft__techs {
  margin-top: rem(30px);
  font-family: 'roboto';
  font-weight: 700;
  color: #4e8839;

  @include tablets {
    margin-top: rem(20px);
  }
}

.about-loft__button {
  margin-top: rem(60px);
  display: flex;
  align-items: center;
  background-color: rgb( 108, 156, 90 );
  padding: rem(15px);
  border-radius: rem(55px);
  transition: 0.5s;
  
  &:hover {
    background-color: #498039;
  }

  @include tablets {
    margin-top: rem(40px);
  }
}

.about-loft__svg {
  width: rem(25px);
  height: rem(25px);
  fill: #fff;
}

.about-loft__text {
  margin-left: rem(20px);
  font-family: 'roboto';
  font-weight: 700;
  color: #fff;
}

.works__feedback {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/works/back.png);
  background-color: #f4f5f0;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__title {
  z-index: 1;
  margin-top: rem(70px);
  max-width: rem(500px);
  font-family: 'sansus';
  text-align: center;
  text-transform: uppercase;
  position: relative;
  color: #373e42;
  font-size: rem(63px);
  line-height: rem(63px);
  @include line(20px);

  @include phones {
    font-size: rem(35px);
    line-height: rem(35px);
  }
}

.feedback__title-svg {
  display: flex;
  top: -15%;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.feedback__title-image {
  width: rem(500px);
  opacity: 0.2;
  fill: #93c42e;
}

.feedback__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;

  @include phones {
    flex-direction: column;
    align-items: center;
  }
}

.feedback__item {
  z-index: 1;
  position: relative;
  margin-top: rem(24px);
  margin-bottom: rem(70px);
  max-width: rem(400px);
  padding: rem(0px) rem(10px);
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  
  @include phones {
    margin-bottom: rem(40px);
  }
}

.feedback__item-svg {
  display: flex;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.feedback__svg-image {
  width: rem(80px);
  opacity: 0.2;
  fill: #93c42e;
}

.feedback__image {
	min-width: rem(80px);
	min-height: rem(80px);
	width: rem(80px);
	height: rem(80px);
	border-radius: 50%;
  background-size: cover;
  &--1 {
    background-image: url(../images/works/dima.jpg);
    background-size: initial;
    background-position: 0 24%;
  }
  &--2 {
    background-image: url(../images/works/vova.jpg);
  }
}

.feedback__desc, .feedback__who {
	margin-top: rem(10px);
	font-family: 'roboto';
  font-weight: 500;
  font-style: italic;
	color: #5d5a55;
}

.feedback__name {
	margin-top: rem(10px);
	font-family: 'roboto';
  font-weight: 700;
  font-style: italic;
	color: #4e8839;
}

@import '../components/contact-form.scss'