@import 'normalize';
@import 'common/universal.scss';

@import 'common/variables.scss';
@import 'common/mixins.scss';
@import 'common/fonts.scss';

@import 'components/top-frame.scss';
@import 'components/preloader.scss';

@import 'pages/intro.scss';
@import 'pages/about.scss';
@import 'pages/my-works.scss';
@import 'pages/blog.scss';

html {
  @include tablets {
    font-size: 14px;
  }
}

body.overflow {
  overflow-y: hidden;
}



.preloader__wave {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: waveAnimation 6s linear infinite;

  &:nth-of-type(1) {
    animation-delay: 0s;
  }
  &:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  &:nth-of-type(3) {
    animation-delay: 1s;
  }
}

@keyframes waveAnimation {
  0% { stroke-dashoffset: 100 }
  25% { stroke-dashoffset: 0 }
  50% { stroke-dashoffset: -100 }
  75% { stroke-dashoffset: 0 }
  100% { stroke-dashoffset: 100 }
}