@import 'normalize';
@import 'common/universal.scss';

@import 'common/variables.scss';
@import 'common/mixins.scss';
@import 'common/fonts.scss';

@import 'components/top-frame.scss';
@import 'components/preloader.scss';

@import 'pages/intro.scss';
@import 'pages/about.scss';
@import 'pages/my-works.scss';
@import 'pages/blog.scss';
@import 'pages/admin.scss';

html {
  @include tablets {
    font-size: 14px;
  }
}

body.overflow {
  overflow-y: hidden;
}