@import 'normalize';
@import 'common/universal.scss';

@import 'common/variables.scss';
@import 'common/mixins.scss';
@import 'common/fonts.scss';

@import 'pages/intro.scss';
@import 'pages/about.scss';
@import 'pages/my-works.scss';