.panel__title Страница «Блог»
.panel__subtitle Добавить запись
form.panel__form.panel__form--blog(action="post")
  input.panel__input.panel__blog-title(type="text" placeholder="Название")
  input.panel__input.panel__blog-date(type="date")
  textarea.panel__input.panel__blog-content(placeholder="Содержание")
button(type="submit").panel__button Добавить