@mixin circle($width, $color) {
	width: $width;
	height: $width;
	border-radius: $width/2;
	background-color: $color;
}

@function rem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin line($px) {
	position: relative;
  &:after {
    content: '';
    display: flex;
    margin: auto;
    border: rem(1.5px) solid currentColor;
    border-radius: rem(3px);
    width: rem(70px);
    top: 100%;
    margin-top: rem($px);
  }
}

@mixin smallMonitor {
	@media screen and (max-width: $smallMonitor) {
		@content;
	}
}
@mixin tablets {
	@media screen and (max-width: $tablets) {
		@content;
	}
}
@mixin phones {
	@media screen and (max-width: $phones) {
		@content;
	}
}